  a {
    display: inline-block;
    padding-right: 4px;
  } 

  a:hover {
    color: #cccccc;
    text-decoration: none;
  }

  ul li {
    list-style-type: georgian;
    margin: 0;
    padding: 0; 
  }

  main {
    background-color: #c4ffde;
    padding: 20px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50%; 
    margin-bottom: 50%;
  }