  a {
    display: inline-block;
    padding-right: 4px;
  } 

  a:hover {
    color: #cccccc;
    text-decoration: none;
  }

  p + ul {
    margin-top: 0; /* Remove the top margin of the <ul> following a <p> */
  }

  p {
    margin-bottom: 0; /* Remove the bottom margin of the <p> */
  }

  main {
    background-color: #c4ffde;
    padding: 20px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }